.navBar {
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    margin-bottom: 2em;
    justify-content: baseline;
    position: absolute;
    top: 15px;
    text-align: right;
}

.navBar img{
    position:absolute;
    top: 0;
    left: 86px;
}

.navPar{
    text-decoration-line: none;
    color: white;
    font-size: 25px;
    padding-right: 10px;
    padding-top: 20px;
}